[workspace]
resolver = "3"
members = ["crates/prototype", "crates/engine-tool"]

[workspace.dependencies]
wasmtime = { version = "39.0.1", features = ["async"] }
toml = "0.9.8"
thiserror = "2.0.17"
serde = { version = "1.0.228", features = ["derive"] }
bincode = { version = "2.0.1", features = ["serde"] }
zip = "6.0.0"
notify = "8.2.0"
tokio = { version = "1.48.0", features = ["full", "macros"] }
dirs = "6.0.0"
log = "0.4.29"
env_logger = "0.11.8"
chrono = { version = "0.4.42", features = ["serde"] }
bitflags = "2.10.0"
tree-sitter = "0.26.3"
regex = "1.12.2"
bytemuck = { version = "1.24.0", features = ["derive"] }
clap = { version = "4.5.53", features = ["derive"] }

#Https
http = "1.4.0"
hyper = { version = "1.8.1", features = ["client", "http1", "http2"] }
hyper-util = { version = "0.1.19", features = [
    "client-legacy",
    "client",
    "http1",
    "http2",
    "tokio",
] }
hyper-rustls = { version = "0.27.7", features = [
    "http1",
    "http2",
    "webpki-roots",
] }
http-body-util = "0.1.3"
bytes = "1.11.0"

#Compositor
smithay = "0.7.0"
wayland-server = "0.31.10"
wgpu = "27.0.1"
winit = "0.30.12"
calloop = {version = "0.14.0", features = ["executor"]}
