[package]
name = "graphics-derive"
version = "0.1.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
syn.workspace = true
quote.workspace = true
proc-macro2.workspace = true

bitflags.workspace = true
once_cell.workspace = true
