name: Continuous Integration

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      
      
      - name: Install system dependencies
        run: |
            sudo apt-get update
            sudo apt-get install -y \
            libwayland-dev \
            libxkbcommon-dev \
            libegl1-mesa-dev \
            libgles2-mesa-dev \
            libgbm-dev \
            libinput-dev \
            libudev-dev \
            libseat-dev \
            pkg-config \
            mold
        
      - name: Install Rust
        run: rustup update stable

      - name: Rust Cache
        uses: swatinem/rust-cache@v2
        
      - name: Install cargo-fusion
        run: cargo install --path crates/cargo-fusion
        
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
        
      - name: Generate code coverage
        run: cargo llvm-cov --html
